---
import Page from '../../components/templates/Page.astro'
---

<Page title="About" description="This is who I am.">
	<main>
		<div class="container">
			<div class="content -left">
				<h1>Hi, I'm Chris</h1>
				<p>
					I'm 32 years old. I live in Dresden, Germany. And I am currently working as a senior front-end developer at
					<a href="https://www.queo.de/en">queo</a>.
				</p>
				<p>
					This blog aims to reflect the topics that I work on or the tools that I work with. Although I am very new to
					blogging and currently more concerned with the structure and design of this page than with the content, I want
					to write more.
				</p>
				<p>
					So feel free to explore the few articles I have on my <a href="/blog">Blog</a> so far. Maybe you'll find something
					interesting.
				</p>
			</div>
		</div>
	</main>
</Page>
