---
import AllPosts from '../../components/organisms/AllPosts.astro'
import Page from '../../components/templates/Page.astro'
---

<Page title="Blog" description="You'll find all the posts I published here on this site.">
	<main>
		<div class="container">
			<h1>All posts</h1>
			<AllPosts />
		</div>
	</main>
</Page>
