---
import { getCollection } from 'astro:content'

import Teaser from '../molecules/Teaser.astro'

const posts = (await getCollection('blog'))
	.sort((a, b) => {
		const aDate = new Date(a.data.pubDate)
		const bDate = new Date(b.data.pubDate)

		if (aDate < bDate) {
			return 1
		} else if (aDate > bDate) {
			return -1
		} else {
			return 0
		}
	})
	.slice(0, 3)
---

<div class="posts">
	{posts.map((post) => <Teaser {...post} />)}
</div>

<a href="/blog/">View all posts</a>

<style>
	a {
		display: inline-block;
	}
</style>
